@import "tailwindcss";

:root {
  --background: #041329;
  --on-surface: #d6e3ff;
}

body {
  font-family: var(--font-manrope);
  background-color: var(--background);
  color: var(--on-surface);
}

/* Gradient reusable */
.cinematic-gradient {
  background: linear-gradient(
    to right,
    rgba(4, 19, 41, 0.4),
    rgba(4, 19, 41, 1)
  );
}

.hero-gradient {
  background: linear-gradient(
    0deg,
    #041329 0%,
    rgba(4, 19, 41, 0.6) 50%,
    rgba(4, 19, 41, 0.8) 100%
  );
}